<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <img class="d-block img-fluid" 
              src="../../assets/images/img7.jpg" alt="uthappizza">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-weight: bold;font-size: x-large;">MealMate</h1>
            <p style="font-size: large;">We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
            will tickle your culinary senses!
            </p>
          </div>
      </div>
      <div class="carousel-item" active>
          <img class="d-block img-fluid" 
              src="../../assets/images/img15.jpg" alt="buffet">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-weight: bold;font-size: x-large;">MealMate</h1>
            <p style="font-size: large;">We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
            will tickle your culinary senses!
            </p>
          </div>
      </div>
      <div class="carousel-item" active>
          <img class="d-block img-fluid" 
              src="../../assets/images/img16.jpg" alt="alberto">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-weight: bold;font-size: x-large;">MealMate</h1>
            <p style="font-size: large;">We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
            will tickle your culinary senses!
            </p>
          </div>
      </div>
  </div>
  <ol class="carousel-indicators">
      <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mycarousel" data-slide-to="1" class="active"></li>
      <li data-target="#mycarousel" data-slide-to="2" class="active"></li>
  </ol>
  <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
</div>