<!-- <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img routerLink="/home" src="/assets/images/logo.jpeg" alt="Logo">
        <h2>MealMate</h2>
      </div>
      <div color="primary" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <a mat-button routerLink='/home' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
        <a mat-button routerLink='/about' routerLinkActive='active'><span class="fa fa-info fa-lg"></span> About</a>
        <a mat-button routerLink='/menu' routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Food & Recipes</a>
        <a mat-button routerLink="/contactus" routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Contact</a>
      </div>
    </div>
</mat-toolbar> -->
  
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="background-color: #512da8;">
  <div fxLayout="row" fxLayoutAlign="start center">
    <!-- <span style="margin-left: 1%;"><img routerLink="/home" src="/assets/images/logo.jpeg" alt="Logo"></span> -->
    <span style="font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: large;padding: 20px;color: floralwhite;">MealMate</span>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <a style="color: floralwhite;" mat-button routerLink='/home' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
    <a style="color: floralwhite;" mat-button routerLink='/about' routerLinkActive='active'><span class="fa fa-info fa-lg"></span> About</a>
    <a style="color: floralwhite;" mat-button routerLink='/menu' routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Food & Recipes</a>
    <a style="color: floralwhite;" mat-button routerLink="/contactus" routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <a style="color: floralwhite;" mat-button routerLink='/cart' routerLinkActive='active'><i class="material-icons">shopping_cart</i>Cart</a>
  </div>
</div>

<div class="jumbo"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1 style="font-weight: bold;font-size: x-large;color:floralwhite;">MealMate</h1>
      <p style="font-size: large;color: floralwhite;">We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!</p>
    </div>
</div>