<app-header></app-header>
<div fxLayout="column" class="row-content">
  <div class="row row-heading" fxLayoutAlign="space-between center">
    <h1 class="title">Top Food</h1>
    <button mat-raised-button style="margin: 0px 0px 16px;background-color: rgb(241, 156, 28);" routerLink='/menu'>View All</button>
  </div>
  <div class="row" fxLayoutAlign="space-around">
    <div *ngFor="let f of food" style="padding: 10px;outline: none;" [routerLink]="['/details',f.id]">
      <mat-card class="example-card">
        <img mat-card-image height="300px" src="{{f.image}}" alt="Photo of {{f.title}}">
        <mat-card-content class="font-weight-bold">
          <mat-card-title>{{f.title}}</mat-card-title>
          <mat-card-subtitle>{{f.subtitle}}</mat-card-subtitle>
          <mat-card-subtitle>Price: {{f.price | currency}}/SERVING</mat-card-subtitle>
          <i class="fas fa-clock">{{f.time}}</i>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex [hidden]="food">
      <mat-spinner color="warn"></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
  </div>
</div>
<div fxLayout="column" class="row-content">
  <div class="row row-heading" fxLayoutAlign="space-between center">
    <h1 class="title">Kitchen Tools</h1>
    <button mat-raised-button style="margin: 0px 0px 16px;background-color: rgb(241, 156, 28);" routerLink='/kitchenmenu'>View All</button>
  </div>
  <div class="row" fxLayoutAlign="space-around">
    <div *ngFor="let f of kitchentls" style="padding: 10px;outline: none;" [routerLink]="['/kitchendetails',f.id]">
      <mat-card class="example-card">
        <img mat-card-image height="300px" src="{{f.image}}" alt="Photo of {{f.title}}">
        <mat-card-content class="font-weight-bold">
          <mat-card-title>{{f.name}}</mat-card-title>
          <mat-card-subtitle>Price: {{f.price | currency}}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex [hidden]="food">
      <mat-spinner color="warn"></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
  </div>
</div>
<app-wine></app-wine>