.example-card {
    width: 340px;
    height: 475px;
}

.title{
  font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #0f346c;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}