<div fxLayout="column" class="row-content">
    <div class="row row-heading" fxLayoutAlign="space-between center">
      <h1 class="title">Fall Wines</h1>
      <button mat-raised-button style="margin: 0px 0px 16px;background-color: rgb(241, 156, 28);" routerLink='/fallwines'>View All</button>
    </div>
    <div class="row" fxLayoutAlign="space-around">
      <div *ngFor="let f of FallWine" style="padding: 10px;outline: none;" [routerLink]="['/fallwine',f.id]">
        <mat-card class="example-card">
          <img mat-card-image height="300px" src="{{f.image}}" alt="Photo of {{f.name}}">
          <mat-card-content class="font-weight-bold">
            <mat-card-title>{{f.name}}</mat-card-title>
            <mat-card-subtitle>Price: {{f.price}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex [hidden]="FallWine">
        <mat-spinner color="warn"></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
    </div>
</div>
<div fxLayout="column" class="row-content">
    <div class="row row-heading" fxLayoutAlign="space-between center">
      <h1 class="title">Essential Wines</h1>
      <button mat-raised-button style="margin: 0px 0px 16px;background-color: rgb(241, 156, 28);" routerLink='/essentialwines'>View All</button>
    </div>
    <div class="row" fxLayoutAlign="space-around">
      <div *ngFor="let f of EsseWine" style="padding: 10px;outline: none;" [routerLink]="['/essentialwine',f.id]">
        <mat-card class="example-card">
          <img mat-card-image height="300px" src="{{f.image}}" alt="Photo of {{f.name}}">
          <mat-card-content class="font-weight-bold">
            <mat-card-title>{{f.name}}</mat-card-title>
            <mat-card-subtitle>Price: {{f.price}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex [hidden]="EsseWine">
        <mat-spinner color="warn"></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
    </div>
</div>