.footer {
    background-color: #871A1A;
    margin: 0px auto;
    padding: 20px;
    color: white;
}

.footer-title{
    background-color: #252525;
    margin: 0px auto;
    padding: 10px;
    color: white;
}
.btn-facebook {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #3b5998 !important;
}
.btn-youtube {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #ff4b39 !important;
}
.btn-linkedin {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #007bb6 !important;
}
.btn-twitter {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #55acee !important;
}
.btn-mail {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #512da8 !important;
}

.row-content{
    padding: 20px;
}

.side-list{
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
}

.active {
    color: black;
    background-color: rgb(241, 156, 28) ;
}

.address{
    padding: 0px 16px;
}

.btn-facebook:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.btn-linkedin:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.btn-mail:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.btn-twitter:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.btn-youtube:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.view-all:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px #ff9f00;
}

.view-all{
    transition: 0.5s ease;
}