<div fxLayout="column" class="row-content" class="footer" fxLayoutAlgin="center">
  <div fxLayout="row" style="text-align:center" fxLayoutAlign="center center">
    <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
    <a mat-icon-button class="btn-facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a>
    <a mat-icon-button class="btn-linkedin" href="#"><i class="fa fa-linkedin fa-lg"></i></a>
    <a mat-icon-button class="btn-twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a>
    <a mat-icon-button class="btn-youtube" href="#"><i class="fa fa-youtube fa-lg"></i></a>
    <a mat-icon-button class="btn-mail" href="#"><i class="fa fa-envelope-o fa-lg"></i></a>
  </div>
  <div class="mt-4" fxLayout="column" fxLayoutAlign="center center">
      <p>© Copyright 2020 MealMate</p>
      <p>Creator: Radhakrishna</p>
  </div>
</div>