<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="footer" fxLayoutAlign="space-around" fxLayoutGap="5px">
  <div fxLayout="column">
    <h1 class="font-weight-bold">Navigation</h1>
    <button style="text-align: left;" mat-button href="" routerLink="/home" routerLinkActive='active'>Home</button>
    <button style="text-align: left;" mat-button href="" routerLink="/about" routerLinkActive='active'>About</button>
    <button style="text-align: left;" mat-button href="" routerLink="/menu" routerLinkActive='active'>Menu</button>
    <button style="text-align: left;" mat-button href="" routerLink="/kitchenmenu" routerLinkActive='active'>Kitchen Tools</button>
    <button style="text-align: left;" mat-button href="" routerLink="/contactus" routerLinkActive='active'>Contact</button>
  </div>
  <div fxLayout="column">
    <h2 class="font-weight-bold"><i class="fa fa-home"></i> Here You Can Find Us...!</h2>
    <p class="address"> LEPL, Centro Mall, 3rd Floor </p>
      <p class="address"> Opp CPR Hotel Fortune, Murali Park, MG Rd </p>
      <p class="address"> Labbipet, Vijayawada </p>
      <p class="address"> Andhra Pradesh, 520010 </p>
      <p class="address"> India </p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" style="text-align:center" >
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="#"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="#"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="#"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
    <div class="mt-4 font-weight-bold" fxLayout="column">
        <p>Creator: SDP PROJECT 26</p>
    </div>
  </div>
</div>
<div class="font-weight-bold" class="footer-title" fxLayout="column" fxLayoutAlign="center center">
  <div>© Copyright 2020 MealMate</div>
</div>