<div *ngIf="pagedList">
  <div style="background-color: #FFCCBC;">
    <div style="padding: 10px;" fxLayoutAlign="space-around center" fxLayout.sm="column" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="5px">
      <div>
        <h1 style="margin: 5px;" class="title">Kitchen Tools</h1>
      </div>
      <div style="margin: 5px">
        <mat-form-field>
          <mat-icon matSuffix>
            <i class="fa fa-search"></i>
          </mat-icon>
          <input matInput placeholder="Search Tools...." matInput type="text" [(ngModel)]="name" (input)="Search()">
        </mat-form-field>
      </div>
    </div>
    <mat-grid-list [cols]="breakpoint" rowHeight="500px" (window:resize)="onResize($event)" >
      <mat-grid-tile style="outline: none;" *ngFor="let f of pagedList" [routerLink]="['/kitchendetails',f._id]">
        <div>
          <mat-card class="example-card">
            <img mat-card-image height="300px" src="{{f.image}}" alt="Photo of {{f.name}}">
            <mat-card-content class="font-weight-bold">
              <mat-card-title>{{f.name}}</mat-card-title>
              <mat-card-subtitle>Price: {{f.price | currency:'INR'}}</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="OnPageChange($event)"></mat-paginator>
</div>