<div style="padding-top: 10px;">
    <h1 class="font-weight-bold" style="color: #871A1A;font-size: 25px;text-align: center;">Our Team</h1>
</div>
<div style="padding: 10px;" fxLayout="column" fxLayoutGap="10px">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content fxLayout.md="row" fxLayout.sm="column"  fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxLayoutAlign="center">
                <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                    <img src="../../assets/rk.jpg" alt="">
                </mat-card>
            </div>
            <div fxLayout="column" class="content">
                <p>
                    Name: N V RADHAKRISHNA
                </p>
                <p>
                    Email: 7krishna3radha@gmail.com
                </p>
                <p>
                    Role: Mean Stack Web Developer (Peer Mentor)
                </p>
                <p>
                    Hello, I am Radhakrishna. I am Web Developer, Currently pursuing my engineering In computer science and I am learning and improving my skills by building some good projects.
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" style="margin-bottom: 10px;">
                <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/nerella-venkata-radhakrishna-1544891b0" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/radhakrishna2367/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                <a mat-icon-button class="btn-github" href="https://github.com/radhakrishna7362" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                <a mat-icon-button class="btn-mail" href="mailto:7krishna3radha@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
        </mat-card-actions>
    </mat-card>

    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content fxLayout.md="row" fxLayout.sm="column"  fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxLayoutAlign="center">
                <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                    <img src="../../assets/prathik.jpeg" alt="">
                </mat-card>
            </div>
            <div fxLayout="column" class="content">
                <p>
                    Name: JAI PRATHIK REDDY S
                </p>
                <p>
                    Email: 
                </p>
                <p>
                    Role: Database Management Systems (Peer Mentor)
                </p>
                <p>
                    Hello, As we know that data is so precious, being a database manager I have used all my skills to store all the information in mongoDB which is a NoSql Database.
                </p>        
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" style="margin-bottom: 10px;" >
                <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/jaiprathik" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                <a mat-icon-button class="btn-github" href="https://github.com/JaiPrathikReddyS" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                <a mat-icon-button class="btn-mail" href="mailto:jaiprathik438@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
        </mat-card-actions>
    </mat-card>

    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content fxLayout.md="row" fxLayout.sm="column"  fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxLayoutAlign="center">
                <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                    <img src="../../assets/dheeraj.jpeg" alt="">
                </mat-card>
            </div>
            <div fxLayout="column" class="content">
                <p>
                    Name: SATYAVARAPU DHEERAJ
                </p>
                <p>
                    Email: dheerajdheeru126s@gmail.com
                </p>
                <p>
                    Role: Artificial Intelligence (Peer Mentor)
                </p>
                <p>
                    Hello, 
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" style="margin-bottom: 10px;">
                <a mat-icon-button class="btn-linkedin" href="#" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                <a mat-icon-button class="btn-github" href="https://github.com/dheerajdheeru126s" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                <a mat-icon-button class="btn-mail" href="mailto:dheerajdheeru126s@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
        </mat-card-actions>
    </mat-card>

    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content fxLayout.md="row" fxLayout.sm="column"  fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxLayoutAlign="center">
                <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                    <img src="../../assets/img_avatar2.png" alt="">
                </mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="center">
                <p>
                    Name: Pragyna Lasya Paturu
                </p>
                <p>
                    Email: 
                </p>
                <p>
                    Role: Software Engineering (Peer Mentor)
                </p>
                <p>
                    Hello, 
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" style="margin-bottom: 10px;">
                <a mat-icon-button class="btn-linkedin" href="#" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                <a mat-icon-button class="btn-github" href="#" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                <a mat-icon-button class="btn-mail" href="mailto:" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
        </mat-card-actions>
    </mat-card>
    
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content fxLayout.md="row" fxLayout.sm="column"  fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxLayoutAlign="center">
                <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                    <img src="../../assets/img_avatar2.png" alt="">
                </mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="center">
                <p>
                    Name: Sagara Mekhala
                </p>
                <p>
                    Email:
                </p>
                <p>
                    Role: Mathematical Programming (Peer Mentor)
                </p>
                <p>
                    Hello,
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" style="margin-bottom: 10px;">
                <a mat-icon-button class="btn-linkedin" href="#" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                <a mat-icon-button class="btn-github" href="#" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                <a mat-icon-button class="btn-mail" href="mailto:" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>


<div class="jumbo"
        fxLayout="row"
        fxLayout.sm="column" 
        fxLayout.xs="column" 
        fxLayoutAlign.xs="start center"
        fxLayoutAlign.sm="start center" 
        fxLayoutAlign.gt-sm="start center" 
        fxLayoutGap="10px">
      
    <div fxFlex>
        <h1 style="font-weight: bold;">MealMate</h1>
        <p style="font-size: large;">We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
            will tickle your culinary senses!</p>
    </div>
</div>

<div class="mini-jumbo">
    <h1 class="font-weight-bold" style="color: #871A1A;font-size: 25px;">AboutUs</h1>
    <p style="font-size: large;">
        MealMate delivers original, step-by-step recipes and fresh ingredients to customers.Each delivery you learn to cook inventive new dishes with seasonal ingredients. By letting us source these hard-to-find ingredients for you, you'll get food that is fresher and cheaper than you can get at your local supermarket, and there's no waste because we only send you what you need for each recipe.
    </p>
</div>