.jumbo {
    border-radius: 10px;
    margin: 0px auto;
    padding: 70px 30px;
    background: rgb(241, 156, 28);
    color: #871A1A;;
    /* min-height: 100px; */
}

.mini-jumbo {
    margin: 0px auto;
    padding: 70px 30px;
    /* min-height: 100px; */
}

.title-card{
    padding: 0;
    margin: 0;
    box-shadow: 10px 10px 10px #871A1A;
}

.title{
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #0f346c;
    letter-spacing: 0.1em;
    background-color: rgb(241, 156, 28);
    justify-content: center;
    text-transform: uppercase;
}

.content{
    font-weight: 600;
}

img {
    height: 142px;
    width: 142px;
    border-radius: 50%;
}

.example-card{
    width: 293.68px;
    height: 388px;
    transition: 0.5s ease;
}

.example-card:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 10px #871A1A;
}

.btn-facebook {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #3b5998 !important;
}
.btn-instagram {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #E1306C !important;
}
.btn-linkedin {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #007bb6 !important;
}
.btn-github {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #000000 !important;
}
.btn-mail {
    transition: 0.5s ease;
    color: #fff !important;
    background-color: #512da8 !important;
}

.btn-facebook:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.btn-linkedin:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.btn-mail:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.btn-instagram:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}

.btn-github:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #ff9f00;
}