<div class="jumbo"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="75%">
      <h1 style="font-weight: bold;font-size: x-large;">MealMate</h1>
      <p style="font-size: large;">We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!</p>
    </div>
</div>

<div class="mini-jumbo">
    <h1 class="font-weight-bold" style="color: #871A1A;;">AboutUs</h1>
    <h3>
        MealMate delivers original, step-by-step recipes and fresh ingredients to customers.Each delivery you learn to cook inventive new dishes with seasonal ingredients. By letting us source these hard-to-find ingredients for you, you'll get food that is fresher and cheaper than you can get at your local supermarket, and there's no waste because we only send you what you need for each recipe.
    </h3>
</div>