<div class="jumbo"
        fxLayout="row"
        fxLayout.sm="column" 
        fxLayout.xs="column" 
        fxLayoutAlign.xs="start"
        fxLayoutAlign.sm="start" 
        fxLayoutAlign.gt-sm="start" 
        fxLayoutGap="10px">
      
    <div fxFlex fxFlex.gt-sm="60%">
        <h1 style="font-weight: bold;">MealMate</h1>
        <p style="font-size: large;">MealMate is based on "E-Commerce Systems". By this web app, we provide delicious food items to the customers with not only providing them the provision to order their choice of food but also, MealMate provides all the necessary information and recipes to cook the desired food by the customers. With its update, to food ordering's, MealMate also supplies kitchen tools and beverages to the customers.</p>
    </div>
    <div fxFlex fxLayoutAlign="center center">
        <video width="320" height="240" autoplay>
            <source src="../../assets/WhatsApp Video 2020-12-03 at 17.22.03.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div style="padding: 20px;margin-top: 5px;">
    <div>
        <h2 class="font-weight-bold" style="color: #871A1A;font-size: 25px;">ContactUs</h2>
    </div>
    <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center">
        <div fxLayout="row">
            <span class="material-icons">location_on</span>
            <div>
                <p style="font-size: medium;"> LEPL, Centro Mall, 3rd Floor </p>
                <p style="font-size: medium;"> Opp CPR Hotel Fortune, Murali Park, MG Rd </p>
                <p style="font-size: medium;"> Labbipet, Vijayawada </p>
                <p style="font-size: medium;"> Andhra Pradesh, 520010 </p>
                <p style="font-size: medium;"> India </p>
            </div>
        </div>
        <div fxLayout="row">
            <span class="material-icons">email</span>
            <p style="font-size: medium;">mealmate.sdp26@gmail.com</p> 
        </div>
        <div fxLayout="row">
            <span class="material-icons">phone</span>
            <p style="font-size: medium;">+91 7286009239</p>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<mat-card class="title-card">
    <mat-toolbar style="border-top-left-radius: inherit;border-top-right-radius: inherit;" class="title">
        Our Team
    </mat-toolbar>
    <div style="padding: 10px;" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout.gt-sm="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-card class="example-card" fxLayout="column" fxLayoutAlign="start center">
                <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutGap="20px">
                    <div fxLayoutAlign="center">
                        <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                            <img src="../../assets/rk.png" alt="">
                        </mat-card>
                    </div>
                    <div fxLayout="column" class="content">
                        <p>
                            N V RADHAKRISHNA
                        </p>
                        <p>
                            7krishna3radha@gmail.com
                        </p>
                        <p>
                            Mean Stack Web Developer (Peer Mentor)
                        </p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div fxLayout="row" style="margin-bottom: 10px;">
                        <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/nerella-venkata-radhakrishna-1544891b0" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/radhakrishna2367/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                        <a mat-icon-button class="btn-github" href="https://github.com/radhakrishna7362" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                        <a mat-icon-button class="btn-mail" href="mailto:7krishna3radha@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </mat-card-actions>
            </mat-card>
        
            <mat-card class="example-card" fxLayout="column" fxLayoutAlign="start center">
                <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div fxLayoutAlign="center">
                        <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                            <img src="../../assets/prathik.png" alt="">
                        </mat-card>
                    </div>
                    <div fxLayout="column" class="content">
                        <p>
                            JAI PRATHIK REDDY S
                        </p>
                        <p>
                            jaiprathik438@gmail.com
                        </p>
                        <p>
                            Database Management Systems (Peer Mentor)
                        </p>   
                    </div>
                </mat-card-content>
                <mat-card-actions style="margin: 0px;padding: 0px;">
                    <div fxLayout="row" style="margin-top:-10px">
                        <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/jaiprathik" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a mat-icon-button class="btn-github" href="https://github.com/JaiPrathikReddyS" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                        <a mat-icon-button class="btn-mail" href="mailto:jaiprathik438@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    
        <div fxLayout.gt-sm="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-card class="example-card" fxLayout="column" fxLayoutAlign="start center">
                <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div fxLayoutAlign="center">
                        <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                            <img src="../../assets/dheeraj.jpeg" alt="">
                        </mat-card>
                    </div>
                    <div fxLayout="column" class="content">
                        <p>
                            SATYAVARAPU DHEERAJ
                        </p>
                        <p>
                            dheerajdheeru126s@gmail.com
                        </p>
                        <p>
                            Artificial Intelligence (Peer Mentor)
                        </p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div fxLayout="row" style="margin-bottom: 10px;">
                        <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/dheeraj-satyavarapu" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/dheeraj_satyavarapu/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                        <a mat-icon-button class="btn-github" href="https://github.com/dheerajdheeru126s" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                        <a mat-icon-button class="btn-mail" href="mailto:dheerajdheeru126s@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </mat-card-actions>
            </mat-card>
        
            <mat-card class="example-card" fxLayout="column" fxLayoutAlign="start center">
                <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div fxLayoutAlign="center">
                        <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                            <img src="../../assets/pragnya.png" alt="">
                        </mat-card>
                    </div>
                    <div fxLayout="column" class="content">
                        <p>
                            PRAGNYA LASYA PATURU
                        </p>
                        <p>
                            pragnyapaturu7@gmail.com
                        </p>
                        <p>
                            Software Engineering (Peer Mentor)
                        </p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div fxLayout="row" style="margin-bottom: 10px;">
                        <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/pragnya7/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a mat-icon-button class="btn-github" href="https://github.com/Pragnyalasyapaturu" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                        <a mat-icon-button class="btn-mail" href="mailto:pragnyapaturu7@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        
        <div fxLayout.gt-sm="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-card class="example-card" fxLayout="column" fxLayoutAlign="start center">
                <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div fxLayoutAlign="center">
                        <mat-card style="border-radius: 50%;box-shadow: 5px 5px 15px #871A1A;">
                            <img src="../../assets/sagara.jpeg" alt="">
                        </mat-card>
                    </div>
                    <div fxLayout="column" class="content">
                        <p>
                            SAGARA MEKHALA CH.
                        </p>
                        <p>
                            sagaramekhala@gmail.com
                        </p>
                        <p>
                            Mathematical Programming (Peer Mentor)
                        </p>
                    </div>
                </mat-card-content>
                <mat-card-actions style="padding:0;margin: 0;">
                    <div fxLayout="row" style="margin-top:-10px">
                        <a mat-icon-button class="btn-mail" href="mailto:sagaramekhala@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</mat-card>