.side-nav{
    width: 200px;
    background: teal;
}

.side-list{
    margin: 0;
    padding: 0;
    outline: none;
}

.list-item{
    outline: none;
    color: floralwhite;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active {
    color: floralwhite;
    background-color: rgb(2, 59, 59);
}