<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="side-nav">
        <mat-list role="list" class="side-list">
            <mat-list-item routerLink='/home' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>home</mat-icon>
                <div mat-line>Home</div>
            </mat-list-item>
            <mat-list-item routerLink='/about' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fa fa-info-circle fa-md" aria-hidden="true"></i>
                </mat-icon>
                <div mat-line>About</div>
            </mat-list-item>
            <mat-list-item routerLink='/menu' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>list</mat-icon>
                <div mat-line>Food & Recipes</div>
            </mat-list-item>
            <mat-list-item routerLink='/kitchenmenu' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="icon-svg icon-svg--serve">
                        <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
                        <title>icon-servings</title>
                        <desc>Created with Sketch.</desc>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Recipe-Detail_1440-Copy" transform="translate(-130.000000, -284.000000)" stroke="#002C9B" stroke-width="1.5">
                                <g id="icon-servings" transform="translate(130.000000, 285.000000)">
                                    <path d="M3.2550842,22.3721251 C2.79899787,22.8354485 2.03885399,22.8354485 1.55236191,22.3721251 C1.09627558,21.9088018 1.09627558,21.1365963 1.55236191,20.6423847 L8.27203382,13.8160877 L9.97475611,15.5458281 L3.2550842,22.3721251 Z" id="Path" fill="#002C9B" fill-rule="nonzero" stroke-linejoin="round"></path>
                                    <path d="M15.2653575,13.7851995 L21.9850294,20.6114965 C22.1978697,20.8277141 22.3498985,21.1365963 22.3498985,21.4763667 C22.3498985,21.8161371 22.2282755,22.0941311 21.9850294,22.3412369 C21.5289431,22.8045602 20.7383935,22.8045602 20.2823071,22.3412369 L13.5626352,15.5149399 L15.2653575,13.7851995 Z" id="Path" fill="#002C9B" fill-rule="nonzero" stroke-linejoin="round"></path>
                                    <path d="M23.4740803,4.72408027 L18.7012079,9.58440135 C18.2147158,10.0786129 17.6066007,10.3257187 16.9376741,10.3257187 C16.2687474,10.3257187 15.6302266,10.0477247 15.1741403,9.58440135 L14.1707503,8.56509004 C13.1977662,7.54577872 13.1977662,5.93959119 14.1707503,4.9511681 L18.666388,0.397157191" id="Path" stroke-linecap="round" stroke-linejoin="round" fill-rule="nonzero"></path>
                                    <path d="M1.43073888,1.46079905 C1.79560795,1.09014038 2.40372305,0.904811054 3.13346118,0.904811054 C3.71117053,0.904811054 4.34969139,1.02836394 5.07942951,1.24458149 C6.53890577,1.6770166 8.08959928,2.5418868 8.88014892,3.37586879 C9.6402928,4.14807433 10.0355676,5.13649743 10.0355676,6.21758519 C10.0355676,7.20600828 9.67069856,8.16354315 9.0321777,8.90486048 L8.72812014,9.21374269 C7.99838202,9.86239535 7.08620936,10.233054 6.08281944,10.233054 C5.018618,10.233054 4.04563384,9.8006189 3.28548996,9.05930158 C2.46453456,8.2253196 1.61317342,6.68090851 1.18749284,5.19827387 C0.701000759,3.46853346 0.792218025,2.14033992 1.43073888,1.46079905 Z" id="Path" fill="#002C9B" fill-rule="nonzero" stroke-linejoin="round"></path>
                                    <path d="M9.15551839,9.44816054 L14.395213,14.6878552" id="Line" stroke-linecap="square"></path>
                                    <path d="M9.15551839,2.00668896 L21.1828532,14.0340237" id="Line-Copy" stroke-linecap="round" stroke-linejoin="round" transform="translate(15.384615, 8.235786) scale(1, -1) translate(-15.384615, -8.235786) "></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </mat-icon>
                <div mat-line>Kitchen Tools</div>
            </mat-list-item>
            <mat-list-item routerLink='/contactus' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>contacts</mat-icon>
                <div mat-line>Contact</div>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: teal;height: 65px;">
            <div fxLayoutAlign="center center">
                <button mat-icon-button (click)="drawer.toggle()" style="outline: none;color: floralwhite;"><span class="material-icons">menu</span></button>
                <span class="font-weight-bold" style="font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: large;color: floralwhite;">MealMate</span>
            </div>
            <div fxLayoutAlign="center center">
                <button style="outline: none;color: floralwhite;" mat-button routerLink='/cart' routerLinkActive='active'><i class="material-icons">shopping_cart</i>Cart</button>
                <button style="outline: none;color: floralwhite;" mat-button routerLink='/cart' routerLinkActive='active'><i class="material-icons">login</i>Login</button>
            </div>
        </div>
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>