<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="side-nav">
        <mat-list role="list" class="side-list">
            <mat-list-item *ngIf="User" class="list-item">
                <div mat-line style="font-weight: bold;font-style: italic;">Hello {{User}}</div>
            </mat-list-item>
            <mat-list-item *ngIf="!User" class="list-item">
                <div mat-line style="font-weight: bold;font-style: italic;">Hello</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/home' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>home</mat-icon>
                <div mat-line>Home</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/about' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fa fa-info-circle fa-md" aria-hidden="true"></i>
                </mat-icon>
                <div mat-line>About</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/menu' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>list</mat-icon>
                <div mat-line>Food & Recipes</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/kitchenmenu' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-utensils"></i>
                </mat-icon>
                <div mat-line>Kitchen Tools</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/fooddonation' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-hand-holding-usd"></i>
                </mat-icon>
                <div mat-line>FoodDonation</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='#' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-cocktail" aria-hidden="true"></i>
                </mat-icon>
                <div mat-line>Wine</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: #871A1A;height: 65px;color: white;padding-right: 5px;">
            <div fxLayoutAlign="center center">
                <button mat-icon-button (click)="drawer.toggle()" style="outline: none;"><span class="material-icons">menu</span></button>
                <span class="font-weight-bold" style="font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: large;">MealMate</span>
            </div>
            <div fxLayoutAlign="center center">
                <button style="outline: none;" mat-button routerLink='/cart' routerLinkActive='active'><i class="material-icons">shopping_cart</i>Cart</button>
                <button style="outline: none;" *ngIf="!_authService.loggedIn()" mat-button routerLink='/login' routerLinkActive='active'><i class="material-icons">login</i>Login</button>
                <button style="outline: none;" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" mat-button routerLink='/register' routerLinkActive='active'><i class="material-icons">login</i>Logout</button>
            </div>
        </div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>