<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="side-nav"
        [mode]="'over'">
        <mat-list role="list" class="side-list">
            <mat-list-item *ngIf="User" class="list-item-title">
                <div mat-line style="font-weight: bold;font-style: italic;">Hello {{User}}</div>
            </mat-list-item>
            <mat-list-item *ngIf="!User" class="list-item-title">
                <div mat-line style="font-weight: bold;font-style: italic;">Hello</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/home' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fa fa-home"></i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">Home</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/about' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fa fa-info-circle fa-md" aria-hidden="true"></i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">About</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/menu' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-hamburger"></i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">Food & Recipes</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/kitchenmenu' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-utensils"></i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">Kitchen Tools</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/fooddonation' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-hand-holding-usd"></i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">FoodDonation</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/wine' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-cocktail" aria-hidden="true"></i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">Wine</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/orders' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="material-icons">shopping_cart</i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">Your Orders</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink='/contactus' routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-comments"></i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">ContactUs</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="_authService.loggedIn()" [routerLink]="['/yourprofile',UserId]" routerLinkActive='active' (click)="drawer.toggle()" class="list-item">
                <mat-icon mat-list-icon>
                    <i class="fas fa-user"></i>
                </mat-icon>
                <div mat-line style="font-weight: bold;">Your Profile</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: #871A1A;height: 65px;color: white;padding-right: 5px;">
            <div fxLayoutAlign="center center">
                <button mat-icon-button (click)="drawer.toggle()" style="outline: none;"><span class="material-icons">menu</span></button>
                <span class="title" routerLink="/home" style="outline: none;cursor: pointer;">MealMate</span>
            </div>
            <div fxLayoutAlign="center center">
                <button class="view-all" style="outline: none;font-weight: bold;" mat-button routerLink='/cart' routerLinkActive='active'><i class="material-icons">shopping_cart</i>Cart</button>
                <button class="view-all" style="outline: none;font-weight: bold;" *ngIf="!_authService.loggedIn()" mat-button routerLink='/login' routerLinkActive='active'><i class="material-icons">login</i>Login</button>
                <button class="view-all" style="outline: none;font-weight: bold;" *ngIf="_authService.loggedIn()" (click)="logout()" mat-button routerLinkActive='active'><i class="material-icons">login</i>Logout</button>
            </div>
        </div>
        <div fxFlex style="padding: 10px;">
            <mat-progress-bar *ngIf="loaderService.isLoading | async" mode="indeterminate"></mat-progress-bar>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>