.side-nav{
    width: 200px;
    background: #871A1A;
}

.side-list{
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
}

.list-item{
    outline: none;
    color: floralwhite;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active {
    color: black;
    background-color: rgb(241, 156, 28) ;
}

.title {
    font-family: 'Satisfy', cursive !important;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
}

.side-title{
    font-family: 'Satisfy', cursive !important;
}