<div fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="row" *ngIf="essentialwine" fxLayoutAlign="center" fxLayoutGap="20px" style="background-color:#FFCCBC;padding: 25px;">
    <div fxFlex.md="50" fxFlex.lg="50" fxLayoutAlign="center">
        <img class="img-fluid ex-card" style="border-radius: 5px;" height="500px" width="450px" src="{{essentialwine.image}}" alt="{{essentialwine.name}}">
    </div>
    <div fxFlex.md="50" fxFlex.lg="50">
        <h1 class="font-weight-bold" style="color: teal;font-size:xx-large;">{{essentialwine.name}}</h1>
        <h2 class="font-weight-bold">{{essentialwine.description}}</h2>
        <h3 style="border-bottom: 2px ridge;">Price: {{essentialwine.price | currency:'INR'}}/SERVING</h3>
        <div class="mb-3">
            <button mat-icon-button style="outline: none;" (click)="minus()"><mat-icon>remove</mat-icon></button>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="qty" style="text-align: center;">
            </mat-form-field>
            <button mat-icon-button style="outline: none;" (click)="add()"><mat-icon>add</mat-icon></button>
            <button class="view-all" style="background-color:#ff9f00;outline: none;" [matTooltipDisabled]="_authService.loggedIn()" matTooltip="Pls Login" mat-raised-button (click)="onCart()"><i class="material-icons">shopping_cart</i>Add To Cart</button>
        </div>
        <div fxLayout="column">
            <div fxLayout="column" style="border-bottom: 2px ridge;padding-bottom: 10px;">
                <h2 style="margin: 0;font-weight: bold;font-family: 'Times New Roman', Times, serif;">Details</h2>
                <li *ngFor="let d of essentialwine.summary">{{d.msg}}</li>
            </div>
        </div>
    </div>
</div>