.row-content-s{
  font-family: 'Times New Roman', Times, serif;
}

.row-content-step{
  font-family: 'Times New Roman', Times, serif;
}

.title{
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #0f346c;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.example-tooltip-red {
  background: #b71c1c;
}

.example-full-width{
  width:10%
}

.row-content:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 10px #871A1A;
}

.view-all:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 10px #871A1A;
}

.view-all{
  transition: 0.5s ease;
}

.example-card{
  transition: 0.5s ease;
}

.example-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 10px #871A1A;
}