<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div class="jumbo" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <div>
        <h1 class="font-weight-bold" style="color: #871A1A;font-size: 25px;">Mealmate</h1>
        <p style="font-size: large;">
            MealMate delivers original, step-by-step recipes and fresh ingredients to customers.Each delivery you learn to cook inventive new dishes with seasonal ingredients. By letting us source these hard-to-find ingredients for you, you'll get food that is fresher and cheaper than you can get at your local supermarket, and there's no waste because we only send you what you need for each recipe.
        </p>
    </div>
    
    <div >
      <p style="font-size: large;">We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
          will tickle your culinary senses!</p>
    </div>

    <div fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="row">
          <span class="material-icons">location_on</span>
          <div>
              <p style="font-size: medium;"> LEPL, Centro Mall, 3rd Floor </p>
              <p style="font-size: medium;"> Opp CPR Hotel Fortune, Murali Park, MG Rd </p>
              <p style="font-size: medium;"> Labbipet, Vijayawada </p>
              <p style="font-size: medium;"> Andhra Pradesh, 520010 </p>
              <p style="font-size: medium;"> India </p>
          </div>
      </div>
      <div fxLayout="row">
          <span class="material-icons">email</span>
          <p style="font-size: medium;">mealmate.sdp26@gmail.com</p> 
      </div>
      <div fxLayout="row">
          <span class="material-icons">phone</span>
          <p style="font-size: medium;">+91 7286009239</p>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="login-card">
      <mat-card class="example-card">
        <mat-toolbar style="border-top-left-radius: inherit;border-top-right-radius: inherit;" class="title">
          Contact Us
        </mat-toolbar>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <mat-form-field class="example">
              <mat-label>Name</mat-label>
              <mat-icon matSuffix>
                <i class="fa fa-user-circle" aria-hidden="true"></i>
              </mat-icon>
              <input matInput type="text" [formControl]="registerData.name" placeholder="Name" required>
              <mat-error *ngIf="registerData.name.invalid">{{nameError()}}</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <mat-form-field class="example">
              <mat-label>Email</mat-label>
              <mat-icon matSuffix>
                <span class="material-icons">email</span>
              </mat-icon>
              <input matInput type="text" [formControl]="registerData.email" placeholder="Email" required>
              <mat-error *ngIf="registerData.email.invalid">{{emailError()}}</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-form-field class="example">
                <mat-icon matSuffix>
                  <span class="material-icons">phone</span>
                </mat-icon>
                <mat-label>Phone Number</mat-label>
                <input matInput type="text" [formControl]="registerData.phone" placeholder="Phone Number" required>
                <mat-error *ngIf="registerData.phone.invalid">{{phoneError()}}</mat-error>
              </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-form-field class="example">
                <mat-icon matSuffix>
                  <span class="material-icons">feedback</span>
                </mat-icon>
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." [formControl]="registerData.contactus"></textarea>
                <mat-error *ngIf="registerData.contactus.invalid">{{commentError()}}</mat-error>
              </mat-form-field>
           </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <button mat-raised-button (click)="registerUser()" [disabled]="registerData.phone.invalid || registerData.name.invalid || registerData.email.invalid" class="example-button">Submit</button>
        </div>
      </mat-card>
    </div>
</div>