.row-content{
    padding: 25px;
}

.example-full-width{
    width:10%
}

.ex-card:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 10px #871A1A;
}

.view-all:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 10px #871A1A;
}

.view-all{
    transition: 0.5s ease;
}

.ex-card{
    transition: 0.5s ease;
}