<div fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="row" class="row-content" *ngIf="ktool" fxLayoutAlign="center" fxLayoutGap="20px"  style="background-color:#FFCCBC">
    <div fxFlex.md="50" fxFlex.lg="50" fxLayoutAlign="center">
        <img class="img-fluid ex-card" style="border-radius: 5px;cursor: pointer;" height="500px" width="450px" src="{{ktool.image}}" alt="{{ktool.name}}">
    </div>
    <div fxFlex.md="50" fxFlex.lg="50">
        <h1 class="font-weight-bold" style="color: teal;font-size:xx-large;">{{ktool.name}}</h1>
        <h3 style="border-bottom: 2px ridge;">Price: {{ktool.price | currency}}</h3>
        <div class="mb-3">
            <button mat-icon-button style="outline: none;" (click)="minus()"><mat-icon>remove</mat-icon></button>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="qty" style="text-align: center;">
            </mat-form-field>
            <button mat-icon-button style="outline: none;" (click)="add()"><mat-icon>add</mat-icon></button>
            <button class="view-all" style="background-color:#ff9f00;outline: none;" [matTooltipDisabled]="_authService.loggedIn()" matTooltip="Pls Login" mat-raised-button (click)="onCart()"><i class="material-icons">shopping_cart</i>Add To Cart</button>
        </div>
        <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="column" style="border-bottom: 2px ridge;padding-bottom: 10px;">
                <h2 style="margin: 0;font-weight: bold;font-family: 'Times New Roman', Times, serif;">Details</h2>
                <li *ngFor="let d of ktool.details">{{d.msg}}</li>
            </div>
            <div fxLayout="column" style="border-bottom: 2px ridge;">
                <h2 style="margin: 0;font-weight: bold;font-family: 'Times New Roman', Times, serif;">Return Policy</h2>
                <p>{{ktool.returnpolicy}}</p>
            </div>
        </div>
    </div>
</div>
<div [hidden]="ktool" style="text-align: center;">
    <mat-progress-bar mode="query"></mat-progress-bar><h1>Loading . . . Please Wait</h1>
</div>